h1{
  color: #62b6bf;
  text-align: center;
  font-size: 100px;
  text-shadow: black 3px 2px 10px;
  font-family: 'Dominique', Regular;
}

body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("https://cdn.glitch.com/b1fd25b9-2324-47c4-822a-d1fbc3e4ac69%2FGarag.png?v=1560446280885");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  background-color: #62b6bf;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 30px;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

button {
    background-color: rgba(255, 0, 0, 0.0);
    border: none;

}

#gasCar {
  margin-bottom: 30px;
  position:fixed;
  bottom: 0px;
  left: 6%;
}

#electricCar {
  margin-bottom: 30px;
  position:fixed;
  bottom: 0px;
  right: 6%;
}
