@font-face {
  font-family: myFirstFont;
  src: url(assets/dominique.otf);
}

p {
  background-color: #d8e7ff;
  color: black;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  position: fixed;
  text-align: center;
}

#h1{
  color: #d8e7ff;
  background-color: none;
  text-align: center;
  font-size: 100px;
  text-shadow: black 3px 2px 10px;
  font-family: 'Dominique', Regular;
}

body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("https://secure.img1-fg.wfcdn.com/im/73338568/resize-h300%5Ecompr-r85/3310/33105619/Classic+3%2522+x+6%2522+Beveled+Ceramic+Subway+Tile+in+White.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

button {
    background-color: rgba(255, 0, 0, 0.0);
    border: none;
}

#oven {
  margin-bottom: 0px;
  position:fixed;
  bottom: 0px;
  left: 6%;
}

#stove {
  margin-bottom: 0px;
  position:fixed;
  bottom: 0px;
  left: 28%;
}

#dishwasher{
  margin-bottom: 0px;
  position:fixed;
  bottom: 0px;
  left: 47%;
}

#fridge {
  margin-bottom: 0px;
  position:fixed;
  bottom: 0px;
  right: 6%;
}
